@charset "UTF-8";
body {
    background-color: rgb(218, 211, 211);
    display: grid;
    grid-template-columns: 150px 350px 200px 250px;
    grid-template-rows: min-content 200px 500px auto;
    grid-template-areas: 
    " . nav nav ."
    ". header header aside"
    ". main main aside"
    "footer footer footer footer";
}
nav {
    background-color: rgb(175, 28, 28);
    grid-area: nav;
    top: 6px;
    position: sticky;
}
header {
    background-color: rgb(66, 88, 97);
    grid-area: header;
}
main {
    background-color: rgb(127, 151, 41);
    grid-area: main;
}
aside {
    background-color: hotpink;
    grid-area: aside;
    
}
footer {
    background-color: darkorchid;
    grid-area: footer;
}

nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content:space-evenly;
    
}
nav a {
    display: block;
    text-decoration: none;
    padding: 7px;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 5px 5px 15px #333;
    
    
}
nav a:link, nav a:visited {
    background-color: rgb(218, 211, 211);
    color: darkorchid;
}
nav a:hover, nav a:active {
    color: darkred;
    background-color: rgb(148, 144, 146);
}
#wrapper div {
    border: 3px solid rgb(80, 79, 79);
    padding: 3px;
    background-color: rgb(165, 158, 155);
    border-radius: 3px;

}
#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 112px 112px 112px 112px 112px 112px;
    gap: 5px;

}
#N64 {

}
#GC {

}
#Wii {

}
#Wii U {

}
#Switch {

}
#PS3 {

}
#PS4 {

}
#PSP {

}
#PSVita {

}
#övrigtSpel {

}
#gamecubeHeader {
    background-image: url(spel/bilder/Gamecube.jpg);
    background-position: center;
    background-size: cover;
   
    
}